<ion-view view-title="List Of Doctors" name="view">
  <ion-content class="padding">
      <div class="bar bar-header bar-calm">
  <h1 class="title">Available Doctors</h1>
</div> <br> <br>
      <div class="list list-inset">
        
            <div class="list">

  <div class="item item-button-right">
    Dr.Williams
    <button class="button button-positive" ng-click="d1()">Schedule&nbsp;
      <i class="icon ion-ios-arrow-forward"></i>
    </button>
  </div>
 <div class="item item-button-right">
    Dr.Chan
    <button class="button button-positive" ng-click="d2()">Schedule&nbsp;
      <i class="icon ion-ios-arrow-forward"></i>
    </button>
  </div>
 <div class="item item-button-right">
    Dr.Patel
    <button class="button button-positive" ng-click="d3()">Schedule&nbsp;
      <i class="icon ion-ios-arrow-forward"></i>
    </button>
  </div>
                </div></div>

  </ion-content>
</ion-view>